<ion-view view-title="Setting">
  <ion-content>
    <ion-list>
      <ion-toggle ng-model="config.level1" ng-click="setting(1)">
        Level 1
      </ion-toggle>
      <ion-toggle ng-model="config.level2" ng-click="setting(2)">
        Level 2
      </ion-toggle>
      <ion-toggle ng-model="config.level3" ng-click="setting(3)">
        Level 3
      </ion-toggle>
      <ion-toggle ng-model="config.level4" ng-click="setting(4)">
        Level 4
      </ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>
